[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "*"
flake8 = "*"
autopep8 = "*"
pytest = "*"
isort = "*"

[packages]
asciimatics = "*"
bs4 = "*"
lxml = "*"

[requires]
python_version = "3.8"

[scripts]
test = "pytest -v"
start = "python -m gochan"
isort = "isort -y"
